button,
.btn,
input[type="button"],
input[type="submit"],
a {
    background-color: var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
    color: inherit;
    border: none;
    outline: none;

    &.card {
        width: 70px;
        padding: 10px;
    }
}

.danger {
    background-color: var(--danger-color);
    color: white;
}

.accept {
    background-color: green;
    color: white;
}

.primary {
    font-size: 17px;
    padding: 10px 20px;
    color: var(--light-color);
}

.secondary {
    font-size: 17px;
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
}

.icon {
    background-color: transparent;
    box-shadow: none;
    padding: 5px;
}