.container {
    margin: auto;
    padding: 0 20px;

    @media (min-width: 768px) {
        width: 90%;
    }

    @media (min-width: 990px) {
        width: 70%;
    }
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.nowrap {
    flex-wrap: nowrap !important;
}

.column {
    flex-direction: column;
}

.align-items-top {
    align-items: flex-start;
}

.align-items-left {
    justify-content: flex-start;
}

.center-x {
    justify-content: center;
}

.center-y {
    align-items: center;
}

.transparent {
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: #ffffff4a;
    box-shadow: var(--out-line), var(--light-shadow);
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
    align-items: stretch;
}

.flex-1 {
    flex: 1;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-md-center {
    @media (min-width: 768px) {
        text-align: center;
    }
}

.text-md-start {
    @media (min-width: 768px) {
        text-align: start;
    }
}

.hide-in-small {
    display: none;

    @media (min-width: 768px) {
        display: flex;
    }
}

.hide-in-large {
    display: flex;

    @media (min-width: 768px) {
        display: none;
    }
}

.hidden {
    display: none;
}

.disable-Guitters {
    margin: 0;
    padding: 0;
    box-shadow: var(--out-line);
}

.m-0 {
    margin: 0;
}

.disable-shadow {
    box-shadow: var(--out-line);
}

.landing {
    width: 100%;
    height: 100vh;
    position: relative;

    .cover-bg {
        z-index: -1;
        position: absolute;
    }

    .cover-content {
        color: aliceblue;
        padding-inline: var(--main-padding);

        @media (min-width: 768px) {
            width: 80%;

            div {
                flex: 1;
            }
        }

        .text-container {
            margin: 5em 0;
            max-width: 500px;
        }
    }

}

.form-container {
    width: 100%;

    form {
        div {
            width: 100%;
            /* margin-bottom: 20px; */
        }

        button {
            width: 100%;
            padding: 10px;
            text-align: center;
            background-color: var(--secondary-color);

        }

        .img-container {}

        .avatar {
            background: #bdbdbd;
            border-radius: 50%;
        }
    }
}